$colorfondo: rgb(247, 225, 225);
$colorFondosec: rgb(181, 181, 233);
$colorfondoterc: rgb(247, 193, 157);
$colorfondocuart: rgb(172, 247, 157);
$colortexto: rgb(33, 15, 56);
$colortextosec: rgb(9, 68, 14);
$fontSizebase: 10px;
$fontSizetitle:50px;
$fontSizep:20px;
$fontSizemenu:30px;

$font1: 'League Gothic', sans-serif;
$font2:  'Hubballi', cursive;

$delay: all ease-in-out 1s;
$scaleout: scale(1.1);
$scalein: scale(0.90);
$hover: rgb(247, 195, 164);
$radiusborder: 20px ;

/*funcion de sass */
@mixin setflex ($flexDir, $align) {
    display: flex;
        flex-direction: $flexDir; //row
        flex-wrap: wrap;
        justify-content: $align; //space-around
        align-items: center;
}



@mixin posicion(){
    display: flex;
    align-items: center;
    justify-content: center;

}


@mixin padding ($IzqDer, $top){
    padding-left: $IzqDer;
    padding-right: $IzqDer;
    padding-top: $top;
    padding-bottom: 0px;  
}


@mixin margin ($lado, $arriba, $abajo){
    margin-left: $lado;
    margin-right: $lado ;
    margin-top: $arriba;
    margin-bottom: $abajo;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; /*considerar tamaño hasta borde*/
    text-decoration: none;
    list-style: none;
}

:root{
    font-size: $fontSizebase;
}

header{
    background-color: $colorfondoterc;
    
    
    /*forma sass*/
    h1{
        color: $colortexto;
        font-size: $fontSizetitle ;
        @include posicion();
        @include padding(0px,20px );
        font-family: $font1;
    }
}

.mainmenu{
    background-color: $colorFondosec;
    @include padding(0px,20px );

    ul{
        @include setflex(row , space-around);
        li{
            transition: $delay;
            &:hover{
                transform: $scalein;
            }
        }
        
        a{
            color: $colortextosec;
            font-size: $fontSizemenu;
            @include padding(10px,20px );
            font-family: $font2 ;
            font-weight: bolder;
            
            &:hover{
                
                background-color: $hover;
                border-radius: $radiusborder;
            }
        }

    }
}

.seccionmain{
    background-color: $colorfondocuart;

    display:  inline-grid;

    border-radius: $radiusborder;

    box-shadow: 4px 4px 6px 0px rgb(105, 105, 214);

    @include margin(400px,50px ,0px);

    grid-template-areas: "titulo menuseccion"
                        "descripcion DescImg"
                        "menuDetalle menuDetalle";

    
    grid-template-rows: 50px 300px 45px;

    .titulo{
        grid-area: titulo ;
        grid-column: 1;
        grid-row: 1;
        @include posicion();
        font-size: $fontSizemenu;
        @include padding(10px,10px);
        font-family: $font2;
        
        
    }
    
    .submenu{
        grid-area: menuseccion;
        grid-column: 2;
        grid-row: 1;
        @include posicion();
        font-size: $fontSizemenu;
        @include padding(0px,10px);

        li{
            transition: $delay;
            &:hover{
                transform: $scaleout
            }
        }
        
            

            a{
                @include padding(30px,10px);
                font-family: $font2;
                font-weight: bolder;

                &:hover{
                    background-color: $hover;
                    border-radius: $radiusborder;
                }
            }
        
    
    }
    
    .dsp{
        grid-area: descripcion;
        grid-column: 1;
        grid-row: 2;
        font-size: $fontSizep;
        @include padding(10px,10px);
        p{
            @include margin (0,5px,10px);
            font-family: $font2;
                font-weight: bolder;
        }
    }
    
    .ImgDsp{
        grid-area: DescImg;
        grid-column: 2;
        grid-row: 2;
        
        width: 10%;
        height: 10%;
        margin: 40px;
    
        img{
           @include margin(25px, 10px, 0px);
            width: 400px;
            box-shadow: 2px 2px 6px 0px rgb(105, 105, 214);
            transition: $delay;
            &:hover{
                transform: $scaleout;
                border-radius: $radiusborder;
            }

     
        }
    }
    
    .menuDet{
        grid-area: menuDetalle;
        grid-column: 1 2;
        grid-row: 3;
        @include posicion();
        @include setflex(row, center);
        font-size: $fontSizemenu;
        background-color: $colorFondosec;
        border-bottom-left-radius: $radiusborder;
        border-bottom-right-radius: $radiusborder;

        li{
            @include padding(10px,10px );
            transition: $delay;
            &:hover{
                background-color: $hover;
                border-radius: $radiusborder;
                transform: $scalein;
            }
            a{
                font-family: $font2;
                font-weight: bolder;
            }
        }
    }


}

